<h1>Show the World!</h1>

<form action="/dishes" method="post">
  <label for="">Caption</label>
  <input type="text" name="title" />
  <label for="">URL Link</label>
  <input type="text" name="image_url" />
  <button>Share</button>
</form>