<h1>share new dish</h1>

    <form action="/share_dish" method="post">
      <label for="">title</label>
      <input type="text" name="title" />
      <label for="">image url</label>
      <input type="text" name="image_url" />
      <button>share</button>
    </form>